In [1]:
import pandas as pd
import os

In [2]:
current_path = os.getcwd()
covid_death_data_set = 'data_sets/CovidVaccinations_.xlsx'
current_path

'/Users/macbookpro/Documents/MLab/Data analysis/Portfolio'

In [3]:
covid_deaths_data = os.path.join(current_path,covid_death_data_set)
covid_deaths_data

'/Users/macbookpro/Documents/MLab/Data analysis/Portfolio/data_sets/CovidVaccinations_.xlsx'

In [4]:
df = pd.read_excel(covid_deaths_data)

In [5]:
df.head()

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [8]:
with open('CovidDeaths.csv', 'w') as csv_file:
    df.to_csv(path_or_buf=csv_file,index=False)

In [6]:
def import_excel_to_csv(filename,dataframe):
    with open(filename, 'w') as csv_file:
        dataframe.to_csv(path_or_buf=csv_file,index=False)

In [7]:
import_excel_to_csv(filename='CovidVaccinations.csv',dataframe=df)

In [34]:
df['male_smokers']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
85166    30.7
85167    30.7
85168    30.7
85169    30.7
85170    30.7
Name: male_smokers, Length: 85171, dtype: float64